@import './index.css';

.game-screen {
  background-image: url(../assets/bkgd.svg);
  background-color: var(--background-color);
  background-size: cover;
  width: 3;
  height: 35rem;
  position: relative;
  box-shadow: 5px 5px 100px rgba(0,0,0,0.3);
  border-radius: 10px;
  overflow: hidden;
  
}

.dog {
  margin-top: 200px;
}


.buttons{
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 70vh;
}

.buttons button{
  margin: 10px;
}
/*@media (max-width: 800px) {
  .game-screen {
    width: 1; 
    height: 20rem;
    
  }
}*/