:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background: rgb(255,252,191);
background: radial-gradient(circle, rgba(255,252,191,1) 0%, rgba(235,234,219,1) 100%);
  
background: rgb(255,254,231);
background: radial-gradient(circle, rgba(255,254,231,1) 0%, rgba(235,234,219,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*** VARS ***/
  --background-color: #6CE062;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
