@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.sheep {
  animation: spin infinite 5s linear;
  transition: top 0.1s, left 0.1s;
}

.sheep-container {
  transition: left 0.1s top 1s;
  display: flex;
}